<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connectionStringAcccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=HFM.accdb"/>
    <add key="connectionStringSql" value="Data Source=.;Initial Catalog=hfm;User ID=sa;Password=hfm;Max Pool Size=50;Pooling=true"/>
    <add key="commportSet" value="PortNum=COM3;BaudRate=115200;DataBits=8;Parity=无;StopBits=1"/>
  </appSettings>
</configuration>