<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="connectionStringAcccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=HFM.accdb" />
    <add key="connectionStringSql" value="Data Source=.;Initial Catalog=hfm;User ID=sa;Password=hfm;Max Pool Size=50;Pooling=true" />
    <add key="commportSet" value="PortNum=COM12;BaudRate=115200;DataBits=8;Parity=无;StopBits=1" />
    <add key="commportSetOfReport" value="PortNum=COM3;BaudRate=115200;DataBits=8;Parity=无;StopBits=1;IsEnabled=false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>